html, body {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
	font-family: var(--font-1);
	background: var(--dark-gray);
	overflow: hidden;
}

/* toast */
	#toast {
		position: absolute;
		top: calc(2 * var(--gap-size));
		left: 50%;
		transform: translateX(-50%);
		padding: var(--gap-size);
		border-radius: var(--border-radius);
		font-family: var(--font-1);
		font-size: calc(2 * var(--font-size));
		line-height: var(--line-height);
		width: calc(100% - 4 * var(--gap-size));
		min-height: calc(2 * var(--font-size) + 2 * var(--gap-size));
		height: auto;
		box-sizing: border-box;
		z-index: 100;
		cursor: default;
		user-select: none;
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		color: var(--light-gray);
		background: var(--dark-gray);
		transition: var(--transition-time);
		opacity: 1;
		text-align: center;
	}

	#toast[success="true"] {
		background: var(--medium-blue);
	}

	#toast[success="false"] {
		background: var(--medium-orange);
	}

	#toast:not([visibility="true"]) {
		opacity: 0;
	}

/* container */
	#container {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

/* header */
	#logo-outer {
		float: left;
		width: 100%;
		height: calc(5 * var(--font-size));
		text-align: center;
		margin-top: calc(5 * var(--gap-size));
	}

	#logo {
		display: block;
		margin: auto auto;
		background-image: url(logo.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: var(--border-radius);
		height: calc(5 * var(--font-size));
		width: calc(5 * var(--font-size));
		user-select: none;
	}

	h1 {
		float: left;
		font-size: calc(3 * var(--font-size));
		font-family: var(--font-0);
		color: var(--light-gray);
		text-align: center;
		margin: calc(5 * var(--gap-size)) 0;
		width: 100%;
		height: calc(3 * var(--font-size));
		box-sizing: border-box;
		line-height: var(--line-height);	
		user-select: none;
	}

/* actions */
	#actions {
		float: left;
		width: 100%;
		padding: calc(2 * var(--gap-size));
		box-sizing: border-box;
		background: var(--medium-blue);
		height: calc(6 * var(--gap-size) + 2 * (var(--font-size) + 3 * var(--gap-size)));
		text-align: center;
	}

	#actions input, #actions button {
		width: 50%;
		height: calc(var(--font-size) + 3 * var(--gap-size));
		box-sizing: border-box;
		border: 0;
		padding: var(--gap-size);
		font-family: var(--font-1);
		font-size: var(--font-size);
		line-height: var(--line-height);
		text-align: center;
		outline: none;
		transition: var(--transition-time);
	}

	#actions input {
		background: var(--light-gray);
		color: var(--dark-gray);
		margin-bottom: calc(2 * var(--gap-size));
	}

	#actions input:hover, #actions input:focus {
		box-shadow: 0 0 var(--border-size) var(--border-size) var(--medium-orange) inset;
	}

	#actions button {
		background: var(--dark-blue);
		color: var(--light-gray);
		text-transform: uppercase;
		user-select: none;
		cursor: pointer;
		color: var(--medium-blue);
		border-radius: var(--border-radius);
	}

	#actions button:hover, #actions button:focus {
		background: var(--medium-orange);
		color: var(--dark-gray);
	}

	#login-username-input, #login-user-button {
		border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
	}

	#login-password-input, #create-user-button {
		border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
	}

/* authed info */
	#actions div {
		float: left;
		width: 100%;
		height: calc(var(--font-size) + 5 * var(--gap-size));
	}

	#actions a {
		display: inline-block;
		text-align: center;
		padding: calc(var(--gap-size) + var(--border-size)) var(--gap-size);
		background-color: var(--dark-blue);
		color: var(--light-gray);
		border-radius: var(--border-radius);
		font-size: var(--font-size);
		font-family: var(--font-1);
		height: calc(var(--font-size) + 3 * var(--gap-size));
		cursor: pointer;
		transition: var(--transition-time);
		user-select: none;
		text-decoration: none;
		margin: 0;
		box-sizing: border-box;
		outline: none;
		line-height: var(--line-height);
		vertical-align: bottom;
	}

	#actions a:hover, #actions a:focus {
		background: var(--medium-orange);
		color: var(--dark-gray);
	}

	#user-link {
		width: 50%;
		border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
	}

	#logout-user-button {
		border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
	}

	#game-link {
		width: 100%;
	}

	#join-link {
		background: transparent !important;
		display: inline-block;
		color: var(--dark-blue) !important;
		font-size: var(--font-size);
		font-family: var(--font-1);
		user-select: none;
		cursor: default;
		line-height: var(--line-height);
		padding: var(--gap-size);
		text-transform: uppercase;
	}

	#join-link:hover, #join-link:focus {
		color: var(--medium-orange) !important;
	}

/* about */
	#about {
		float: left;
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		height: calc(100vh - (8 * var(--font-size) + 15 * var(--gap-size)) - (6 * var(--gap-size) + 2 * (var(--font-size) + 3 * var(--gap-size))));
		padding: calc(5 * var(--gap-size)) calc(3 * var(--gap-size)) calc(3 * var(--gap-size)) calc(3 * var(--gap-size));
		overflow-x: hidden;
		overflow-y: scroll;
	}

	#about h2 {
		text-align: center;
		font-size: var(--font-size);
		height: var(--font-size);
		color: var(--light-gray);
		line-height: var(--line-height);
		text-transform: uppercase;
		outline: none;
		user-select: none;
		cursor: pointer;
		transition: var(--transition-time);
		margin: calc(5 * var(--gap-size)) 0 calc(2 * var(--gap-size)) 0;
	}

	#about-summary:focus, #about-summary:hover {
		color: var(--medium-orange);
	}

	#about-inner {
		float: left;
		width: 100%;
		box-sizing: border-box;
		height: auto;
		font-size: var(--font-size);
		color: var(--light-gray);
		padding-bottom: calc(10 * var(--gap-size));
	}

	#about-inner a, #about-inner a:visited {
		color: var(--medium-blue);
		cursor: pointer;
		text-decoration: none;
		transition: var(--transition-time);
		outline: none;
	}

	#about-inner a:hover, #about-inner a:focus {
		color: var(--medium-orange);
	}
