/* elements */
	html, body {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		font-family: var(--font-1);
		background: var(--dark-gray);
		overflow: hidden;
	}

	section {
		float: left;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}

	section > div {
		width: 100%;
		height: auto;
		max-width: var(--max-content-size);
		box-sizing: border-box;
		padding: calc(2 * var(--gap-size));
		margin: auto auto;
	}

	h1 {
		font-size: calc(3 * var(--font-size));
		font-family: var(--font-0);
		color: var(--light-gray);
		text-align: center;
		margin: calc(5 * var(--gap-size)) 0;
		width: 100%;
		height: calc(3 * var(--font-size));
		box-sizing: border-box;
		line-height: var(--line-height);	
		user-select: none;
	}

	h2 {
		text-align: center;
		font-size: calc(2 * var(--font-size));
		height: calc(2 * var(--font-size));
		color: var(--light-gray);
		line-height: var(--line-height);
		text-transform: uppercase;
		outline: none;
		user-select: none;
		margin: calc(3 * var(--gap-size)) 0 calc(3 * var(--gap-size)) 0;
	}

	a, a:visited {
		color: var(--medium-blue);
		display: inline-block;
		text-align: center;
		border-radius: var(--border-radius);
		font-size: var(--font-size);
		font-family: var(--font-1);
		cursor: pointer;
		transition: var(--transition-time);
		user-select: none;
		text-decoration: none;
		margin: 0;
		outline: none;
	}

	a:hover, a:focus {
		color: var(--medium-orange);
	}

	a.pseudobutton, a.pseudobutton:visited {
		width: 100%;
		box-sizing: border-box;
		height: calc(var(--font-size) + 3 * var(--gap-size));
		padding: calc(var(--gap-size) + var(--border-size)) var(--gap-size);
		background: var(--dark-gray);
		color: var(--medium-blue);
		vertical-align: bottom;
		line-height: var(--line-height);
	}

	a.pseudobutton:hover, a.pseudobutton:focus {
		background: var(--medium-orange);
		color: var(--dark-gray);
	}

	input {
		width: 100%;
		height: calc(var(--font-size) + 3 * var(--gap-size));
		box-sizing: border-box;
		border: 0;
		padding: var(--gap-size);
		font-family: var(--font-1);
		font-size: var(--font-size);
		line-height: var(--line-height);
		text-align: center;
		outline: none;
		transition: var(--transition-time);
		background: var(--light-gray);
		color: var(--dark-gray);
	}

	input:hover, input:focus {
		box-shadow: 0 0 var(--border-size) var(--border-size) var(--medium-orange) inset;
	}

	button {
		width: 100%;
		height: calc(var(--font-size) + 3 * var(--gap-size));
		box-sizing: border-box;
		border: 0;
		padding: var(--gap-size);
		font-family: var(--font-1);
		font-size: var(--font-size);
		line-height: var(--line-height);
		text-align: center;
		outline: none;
		transition: var(--transition-time);
		background: var(--dark-gray);
		color: var(--light-gray);
		text-transform: uppercase;
		user-select: none;
		cursor: pointer;
		color: var(--medium-blue);
		border-radius: var(--border-radius);
	}

	button:hover, button:focus {
		background: var(--medium-orange);
		color: var(--dark-gray);
	}

/* toast */
	#toast {
		position: fixed;
		top: calc(2 * var(--gap-size));
		left: 50%;
		transform: translateX(-50%);
		padding: calc(var(--gap-size) + var(--border-size));
		border-radius: var(--border-radius);
		font-family: var(--font-1);
		font-size: var(--font-size);
		line-height: var(--line-height);
		width: calc(100% - 4 * var(--gap-size));
		min-height: calc(var(--font-size) + 2 * var(--gap-size) + 2 * var(--border-size));
		height: auto;
		box-sizing: border-box;
		z-index: 100;
		cursor: default;
		user-select: none;
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		color: var(--light-gray);
		background: var(--dark-gray);
		transition: var(--transition-time);
		opacity: 1;
		text-align: center;
		pointer-events: none;
	}

	#toast[success="true"] {
		color: var(--light-gray);
		background: var(--medium-blue);
	}

	#toast[success="false"] {
		color: var(--dark-gray);
		background: var(--medium-orange);
	}

	#toast:not([visibility="true"]) {
		opacity: 0;
	}

/* header */
	#header-inner {
		padding: 0;
	}

	#logo-outer {
		width: 100%;
		height: calc(5 * var(--font-size));
		text-align: center;
		margin-top: calc(5 * var(--gap-size));
	}

	#logo {
		display: block;
		margin: auto auto;
		background-image: url(logo.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: var(--border-radius);
		height: calc(5 * var(--font-size));
		width: calc(5 * var(--font-size));
		user-select: none;
	}

/* actions */
	#actions {
		background: var(--medium-blue);
		height: calc(6 * var(--gap-size) + 2 * (var(--font-size) + 3 * var(--gap-size)));
	}

	#login-username-input, #login-password-input {
		margin-bottom: calc(2 * var(--gap-size));
	}

	#login-username-input, #login-user-button {
		width: 50%;
		border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
	}

	#login-password-input, #create-user-button {
		width: 50%;
		border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
	}

/* authed info */
	#user-outer {
		margin-bottom: calc(2 * var(--gap-size));
	}

	#user-link {
		width: 50%;
		border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
	}

	#logout-user-button {
		width: 50%;
		border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
	}

	#join-link {
		text-transform: uppercase;
	}

/* about */
	#about {
		height: calc(100vh - (8 * var(--font-size) + 15 * var(--gap-size)) - (6 * var(--gap-size) + 2 * (var(--font-size) + 3 * var(--gap-size))));
		overflow-x: hidden;
		overflow-y: scroll;
	}

	#about-inner {
		font-size: var(--font-size);
		color: var(--light-gray);
		padding-bottom: calc(20 * var(--gap-size));
		text-align: left;
	}
